html, body {
    margin: 0;
    padding: 0;
  }
  
.subscription {
   margin-top: 50px;
   text-align: center;
}
    
  #background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  .mainP {
    position: relative;
    z-index: 1;
    height:89vh;

  }